@font-face {
  font-family: 'icomoon';
  src:  url('../fonts/icomoon.eot?6mu6yf');
  src:  url('../fonts/icomoon.eot?6mu6yf#iefix') format('embedded-opentype'),
  url('../fonts/icomoon.ttf?6mu6yf') format('truetype'),
  url('../fonts/icomoon.woff?6mu6yf') format('woff'),
  url('../fonts/icomoon.svg?6mu6yf#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
  font-display: block;
}

[class^="icon-"], [class*=" icon-"] {
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'icomoon' !important;
  speak: never;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}


.icon-heart:before {
  content: "\f004";
}
.icon-check:before {
  content: "\f00c";
}
.icon-search-plus:before {
  content: "\f00e";
}
.icon-info-circle:before {
  content: "\f05a";
}
.icon-leaf:before {
  content: "\f06c";
}
.icon-calendar:before {
  content: "\f073";
}
.icon-comment:before {
  content: "\f075";
}
.icon-shopping-cart:before {
  content: "\f07a";
}
.icon-external-link:before {
  content: "\f08e";
}
.icon-phone:before {
  content: "\f095";
}
.icon-twitter:before {
  content: "\f099";
}
.icon-facebook:before {
  content: "\f09a";
}
.icon-facebook-f:before {
  content: "\f09a";
}
.icon-cloud:before {
  content: "\f0c2";
}
.icon-flask:before {
  content: "\f0c3";
}
.icon-caret-down:before {
  content: "\f0d7";
}
.icon-caret-right:before {
  content: "\f0da";
}
.icon-envelope:before {
  content: "\f0e0";
}
.icon-coffee:before {
  content: "\f0f4";
}
.icon-location-arrow:before {
  content: "\f124";
}
.icon-youtube:before {
  content: "\f167";
}
.icon-vk:before {
  content: "\f189";
}
.icon-viadeo:before {
  content: "\f2a9";
}
