html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  display: inline-block;
  color: #000;
}

.container {
  max-width: 1090px;
  margin: 0 auto;
  padding: 0 15px;
}

h1,
h2,
h3,
h4,
h6,
h5,
p {
  margin: 0;
  font-size: 15px;
  padding: 0;
  font-weight: 400;
}

li {
  display: inline-block;
}

html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
}

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
}

.content {
  flex: 1 0 auto;
}

.footer {
  flex: 0 0 auto;
}

.content__block {
  background-color: $mainDarkColor;
  position: relative;
  padding-top: 95px;
  &:before {
    content: "";
    position: absolute;
    background-image: url("../img/decor-2.png");
    background-repeat: repeat;
    height: 35px;
    width: 100%;
    top: 0;
    left: 0;
  }
}

.title__block {
  text-align: center;
  max-width: 775px;
  margin: 0 auto;
  .title__block-title {
    font-size: 26px;
    line-height: 30px;
    font-family: 'Open Sans Condensed', sans-serif;
    color: #37251b;
    margin-bottom: 20px;
    text-transform: uppercase;
  }
  .title__decor {
    height: 8px;
    width: 343px;
    margin-bottom: 14px;
  }
  .title__block-subtitle {
    font-family: 'Open Sans', sans-serif;
    font-style: italic;
    font-size: 16px;
    line-height: 28px;
    color: #ac9d8e;
  }
}
.dashed__decor::after {
  position: absolute;
  content: "";
  width: 100%;
  height: 90%;
  top: 5%;
  left: 0;
  border-top: 1px dashed #d2c4b9;
  border-bottom: 1px dashed #d2c4b9;
}
.dashed__decor-circle::after {
  position: absolute;
  content: "";
  width: 90%;
  height: 90%;
  top: 5%;
  left: 5%;
  border-radius: 50%;
  border: 1px dashed #d2c4b9;
}
.swiper-button-disabled {
  opacity: 0.4;
  cursor: auto;
}