@media (max-width: 1919px) {
  .gallery .gallery__items {
    grid-template-columns: repeat(4, 380px);
    grid-template-rows: repeat(4, 260px);
    justify-content: center;
  }
  .gallery__item-1 {
    grid-column: 1 / 3;
    grid-row: 1 / 3;
  }
  .gallery__item-9 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
  }
}
@media (max-width: 1540px) {
  .gallery .gallery__items {
    grid-template-columns: repeat(4, 300px);
    grid-template-rows: repeat(4, 180px);
  }
  .gallery__item-9 {
    grid-column: 3 / 5;
    grid-row: 3 / 5;
  }
  .reviews .slide__text-block {
    padding-left: 100px;
    padding-right: 100px;
    .slide__text-author {
      right: 15px;
    }
  }
}
@media (max-width: 1220px) {
  .gallery .gallery__items {
    grid-template-columns: repeat(3, 300px);
    grid-template-rows: repeat(3, 180px);
  }
  .gallery__item-1 {
    grid-column: 1 / 2;
    grid-row: 1 / 2;
     }
  .gallery__item-9 {
   display: none;
  }
}
@media (max-width: 1340px) {
  .shop-page__item {
   margin: 0 auto 28px;
  }
}
@media (max-width: 1200px) {
  .header__menu .header__menu-wrapper {
    padding: 0;
  }
  .header .menu {
    position: absolute;
    display: none;
    left: 0;
    top: 185px;
    text-align: center;
    background-color: #e6e5d9;
    width: 100%;
    z-index: 99;

    ul {
      display: block;

      li {
        display: block;
        border: 1px solid #f6f6e9;

        a {
          opacity: 1;
          width: 100%;
        }
      }
    }
  }
  .header__burger {
    display: inline-block;
    position: absolute;
    right: 15px;
  }
  .heading__text {
    right: 5%;
  }
  .experts__slider-slide {
    text-align: left;
  }
  .shop-detail__item {
    flex-direction: column;
    align-items: center;
  }
}

@media (max-width: 1150px) {
.shop-detail__reviews-items {
  flex-direction: column;
  align-items: center;
}
  .shop-detail__reviews-item {
    margin-bottom: 30px;
  }
}
@media (max-width: 1090px) {
  .warm .warm__items {
    flex-direction: column;
    align-items: center;
  }
  .warm .warm__item-wrapper {
    height: auto;

    & + .warm__item-wrapper {
      margin-top: 70px;
    }
  }
  .warm .warm__img-wrapper img {
    width: 100%;
  }
  .procedures {
    padding-bottom: 95px;
  }
  .procedures .procedures__items {
    flex-direction: column;
    align-items: center;

  }
  .procedures__item-wrapper {
    & + .procedures__item-wrapper {
      margin-top: 100px;
    }
  }
  .procedures .procedures__text {
    margin-bottom: 115px;
  }
  .procedures__item {
    padding-bottom: 20px;
    max-height: 100%;
    .procedures__img-wrapper {
      top: -65px;
      width: 175px;
      height: 175px;
    }
    .procedures__item-text {
      height: auto;
    }
    .procedures__item-link {
      bottom: 0;
      margin-top: 40px;
    }
  }
  .about__page-why .why__content-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .about__page-why .why__img-block {
    margin-top: 50px;
  }
  .about__page-process .process__select-items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about__page-gift .gift__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about__page-gift .gift__item {
    margin-top: 20px;
  }
  .about__page-gift .gift__step {
    margin-bottom: 30px;
  }
  .experts__text {
    margin-bottom: 70px;
  }
  .about__page-experts .experts__items {
    flex-wrap: wrap;
    justify-content: space-around;
  }
  .about__page-experts .expert__item {
    margin-top: 20px;
  }
  .blog__page-main .blog__page-inner {
    flex-direction: column-reverse;
  }
  .blog__page-main .blog__main {
    margin: 0 auto;
  }

  .blog__side-bar {
    width: 100%;
    margin-top: 50px;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
  }
  .blog__side-bar .side-bar__info {
    max-width: 345px;
    width: 100%;
    margin-bottom: 120px;
  }
  .blog-details .blog__page-inner{
    flex-direction: column;
  }
  .gallery-block__items {
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(5, 355px);
  }
  .procedures-content__inner {
    flex-direction: column;
    align-items: center;
  }
  .procedures__page-content .procedures__item-wrapper {
    margin-bottom: 50px;
  }
  .shop-page__main .shop-page__inner {
    flex-direction: column;
  }
  .shop-page__pagination {
    justify-content: center;
  }
  .shop-page__side-bar {
    text-align: center;
  }
  .shop-page__side-bar .posts__item {
    height: auto;
  }
}

@media (max-width: 930px) {
  .gallery {
   padding-left: 15px;
    padding-right: 15px;
  }
  .gallery .gallery__items {
    grid-template-columns: repeat(2, 300px);
    grid-template-rows: repeat(5, 180px);
  }
  .gallery__item-9 {
    display: block;
    grid-column: auto;
    grid-row: auto;
  }
  .reviews .slide__text-block {
    padding-left: 30px;
    padding-right: 30px;
  }
  .location-page__info-inner {
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  .location-page__contacts-table {
    margin-bottom: 40px;
  }
}
@media (max-width: 720px) {
  footer.content__block {
    padding-top: 70px;
  }
  .footer .footer__items {
    flex-wrap: wrap;
    justify-content: center;
    .footer__item {
      text-align: center;
      margin: 20px 10px 10px;
    }
  }

}
@media (max-width: 840px) {
 .gift__form .gift__form-inputs {
    flex-wrap: wrap;
    margin-bottom: 10px;
  }
  .gift__form .inputs__wrapper {
    max-width: 100%;
  }
 .gift__form textarea {
    max-width: 100%;
    margin-left: 0;
    margin-top: 20px;
    height: 200px;
  }
  .gift__form .form__note-wrapper {
    flex-direction: column;
    justify-content: center;
  }
 .gift__form .gift__form-note {
    margin-bottom: 30px;
  }
  .experts__slide-wrapper {
    max-width: 100%;
  }
  .shop-detail__pseudo-cart {
    right: 15px;
  }
}
@media (max-width: 725px) {
  .about__page-process .process__select-items .process__select-item {
    &+.process__select-item {
      margin-top: 20px;
    }
  }
  .blog__page-main .blog__main-item {
    flex-direction: column;
    align-items: center;
  }
  .blog__page-main .main__item-info {
    margin-bottom: 15px;
  }
  .blog__page-main .main__item-content {
    text-align: center;
    margin-left: 0;
  }
  .shop-page__items {
    justify-content: center;
  }
  .shop-main__sorting {
    flex-direction: column-reverse;
  }
  .shop-main__sorting-sort {
    margin-bottom: 20px;
  }
}
@media (max-width: 640px) {
  .why__content-title {
    text-align: center;
  }
  .about__page-process{
    text-align: center;
  }
  .gallery .gallery__items {
    grid-template-columns: repeat(2, 135px);
    grid-template-rows: repeat(5, 125px);
    .gallery__item .gallery__item-links ul li {
      &:hover {
        background-color: transparent;
      }
      a:before {
        font-size: 12px;
      }
    }
  }
  .heading {
    height: 400px;
    background-size: 1000px 400px;
  }
  .heading__text {
    .heading__title {
      font-size: 22px;
      line-height: 42px;
    }

    .heading__subtitle {
      font-size: 18px;
      line-height: 42px;
    }
  }
  .reviews .slide__text-block span {
    font-size: 30px;
  }
  .swiper__slide-text {
    font-size: 13px;
  }
  .reviews .slide__text-block .slide__text-author {
    font-size: 13px;
    bottom: 60px;
  }
  .about__page-why .why__img-text {
    top: 0;
  }
  .about__page-why .why__img {
    width: 280px;
    height: 175px;
  }
  .about__page-why .why__img-text--green {
    font-size: 16px;
    line-height: 26px;
    margin-bottom: 0;
  }
  .about__page-why .why__img-text--brown {
    font-size: 13px;
  }
  .blog-user{
    flex-direction: column;
    align-items: center;
    text-align: center;
    margin-bottom: 25px;
  }
  .blog-user__inner {
    margin-left: 0;
  }
  .blog-user__avatar-wrapper {
    max-width: 90px;
  }
  .blog-user--replied {
    margin-left: 30px;
    margin-bottom: 60px;
  }
  .blog-user__reply {
    top: -30px;
  }
  .item__content-quote {
    padding-left: 15px;
    line-height: 20px;
  }
  .item__content-quotes {
    font-size: 20px;
  }
  .item__content-quotes--first {
    position: initial;
  }
  .item__content-quotes--second {
    margin-left: 0;
  }
  .blog__page-main .blog__main-item {
    margin-bottom: 30px;
  }
  .blog__main-title {
    text-align: center;
  }
  .procedures__page-heading {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  .procedures-heading__title {
    font-size: 20px;
    line-height: 40px;
    text-align: center;
    position: initial;
  }
  .procedures-heading__title span {
    font-size: 16px;
    line-height: 40px;
  }
  .location-page__contacts-table {
    flex-direction: column;
    align-items: center;
  }
  .location-page__contacts-text:not(:last-child) {
    margin-bottom: 30px;
  }
  .shop-detail__images {
    margin-bottom: 20px;
  }
  .shop-detail__main-img {
    height: 250px;
    width: 250px;
    display: block;
    margin: 0 auto 20px;
  }
  .shop-detail__preview-img {
    width: 50px;
    height: 50px;
  }
  .shop-detail__name-block {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .shop-detail__about {
    flex-direction: column;
  }
  .shop-detail__tabs {
    justify-content: center;
  }
  .shop-detail__quantity {
   flex-direction: column;
  }
}

@media (max-width: 540px) {
  .gallery-block__items {
    grid-gap: 20px 0;
    grid-template-columns:  1fr;
    grid-template-rows: repeat(9, 1fr);
    grid-auto-flow: column;
  }
  .procedures-natural__items {
    flex-direction: column;
  }
  .procedures-natural__item:not(:last-child) {
    margin-bottom: 30px;
  }
  .procedures-links__inner-links {
    flex-direction: column;
    align-items: center;
  }
  .procedures-links__link:not(:last-child) {
    margin: 0;
  }
  .procedures__page-content .process__tab-item {
    text-align: center;
  }
}
@media (max-width: 465px) {
  .process__tabs {
    margin-bottom: 30px;
    ol {
      display: flex;
      flex-direction: column;
      align-items: center;

      .process__tab {
        & + li {
          margin-left: 0;
          margin-top: 10px;
        }
      }
    }
  }
  .shop-main__sorting-text {
    font-size: 18px;
  }
}

@media (max-width: 400px) {
  .title__block .title__block-subtitle {
    font-size: 14px;
  }
  .title__block .title__decor {
    width: 100%;
  }
  .footer .footer__items {
    display: block;
    .footer__item {
      margin: 20px auto;
    }
  }
  .footer .footer__items .footer__social li a:before {
    left: 25px;
  }
  .reviews .slide__img {
    width: 100px;
    height: 100px;
    top: -50px;
  }
  .reviews .swiper-next {
    left: 80px;
  }
  .reviews .swiper-prev {
    right: 80px;
  }
  .about__page-process .process__select-items .process__select-item {
    flex-direction: column;
    text-align: center;
  }
}

@media (max-width: 360px) {
  .heading {
    text-align: center;

    .heading__text {
      .heading__title {
        font-size: 20px;
        line-height: 42px;
      }
    }
  }
  .warm .warm__item-wrapper:after,
  .procedures__item-wrapper:after{
    bottom: -12px;
  }
  .about__page-experts .experts__slider-slide::before {
    width: 92%;
    left: 4%;
  }
  .about__page-experts .experts__slider-slide {
    padding-top: 30px;
  }

  .blog__side-bar .posts__item {
    height: auto;
    text-align: center;
  }
  .side-bar__title {
    text-align: center;
  }
  .blog__side-bar .side-bar__tags-items {
    justify-content: space-around;
  }
  .blog__page-main .main__item-content .item__content-btn {
    margin: 0 auto;
  }
  .pagination .pagination-prev, .pagination .pagination-next {
    width: 60px;
    height: 30px;
    line-height: 30px;
  }
  .pagination .pagination-prev {
    margin-right: 10px;
  }
  .pagination .pagination-next {
    margin-left: 10px;
  }
  .side-bar__range {
    width: 100%;
  }
  .gallery-block__image-wrapper .gallery-block__item-image {
    height: 200px;
  }
}

@media (min-width: 1200px) {
  .header .menu {
    display: block !important;

  }
}